/* font links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* common coad start*/
/* css variable */
:root{
    --pop: 'Poppins', sans-serif;
    --rob: 'Roboto', sans-serif;

    --fs:16px;
    --fwr:400;

    --black:#000000;
    --green:#21B573;
    --red:#FD511A;
    --white:#FFFFFF;
    --bgg:#d5f8d5;
}
body{
    font-family: var(--pop);
    font-size: var(--fs);
    font-weight: var(--fwr);
    color: var(--black);
    
}
/* common coad start*/
/* common coad end*/

/* header start */
.header{
    background-color: var(--bgg);
    padding: 30px 0;
}   
.m_nav{}
.logo{}
.menu{}
.menu ul li a{
    padding: 0 25px !important;
    font-size: var(--fs);
    font-weight: var(--fwr);
    color: var(--black) !important;
    line-height: 24px;
}
.menu ul li a:hover{
    color: var(--red) !important;

}
.btn_c{
    background-color: #21B573;
    font-family: var(--rob);
    font-size: var(--fs);
    font-weight: var(--fwr);
    color: var(--white);
    line-height: 18.75px;
    border-radius: 33px;

}
.btn_sign{
    width: 105px;
    height: 43px;
    Padding:12px 25px;
}
.btn_c:hover{
    background-color:var(--red);
}

/* header end */
/* banner start */
.banner{
    background-color: var(--bgg);
    padding: 0 0 65px;
}
.b_text{}
.bp1{
    color: var(--red);
}
.bh1{
    margin: 10px 0 20px !important;
    padding: 0 100px 0 0;
    font-family: var(--pop);
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    color: var(--black);
}
.bh1 span{
    color: var(--green);
}
.bp2{
    line-height: 36px;
}
.btn_banner{
    margin: 15px 0 0;
    padding: 12px 36px;
}
.b_img{}
.b_img img{}
/* banner end */

/* feature start here */
.feature{
    padding: 0 0 100px;
}
.s_feature{
    margin: 40px 0 0;
    padding: 55px 0 50px;
    text-align: center;
    background-color: #def7e9;
    border-radius: 10px;
    transition: .33s linear;
}
.s_feature:hover{
    background-color: var(--white);
    box-shadow: 0px 20px 40px 0px #0000001A;

}
.s_img{
    width: 65px;
    height: 85px;
}
.s_img img{}
.s_h2{
    margin: 22px 0 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);
}
.s_p{}

/* feature end here */
/* testimonial start */
 .c_padding{
    padding-bottom: 100px;
 }
 /* 1st row */
 .t_title{}
 .c_h1{
    font-family: var(--pop);
    font-size: 36px;
    font-weight:700;
    line-height: 54px;
    color: var(--black);
 }
 /* 2nd row */
 .c_item{
    margin: 75px 0 0;
 }
 .t_img{
    padding: 0 0px 20px;
 }
 .t_img img{
 width: 100%;
 }
 .t_text{
    margin-top: 10px;
 }


/* testimonialend */
/* footer top start here */
.footer-top{
    padding:55px 0 55px;
    background-color:var(--black);
    
}
.ft_info {
    padding-right: 120px;
}
.ft_info p{
    color: var(--white);
    line-height: 30px;
}
.ft_links{}
.ft_links h2{
    margin-bottom: 8px;
    font-family: var(--pop);
    font-size:18px ;
    font-weight: 700;
    color: var(--white);
    line-height: 30px;
}
.ft_links ul li a{
    margin-bottom: 8px;
    display: block;
    text-decoration: none;
    font-family: var(--pop);
    font-size: var(--fs);
    font-weight: var(--fwr);
    line-height: 30px;
    color: var(--white);
}

/* footer top end here */


/* footer */
footer{
    padding: 30px 0;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
}
footer p{}
footer p a{
    text-decoration: none;
    color: var(--white);
}

/* online courses start here */
.s_course{
    margin: 60px 0 0;
    padding: 24px 20px 30px;
    border-radius: 18px;
    box-shadow: 0px 10px 40px 0px #0000001A;

}
.single_img{}
.single_img img{
    border-radius: 11px;
}
.single_h2{
    margin: 20px 0 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: var(--black);

}
.single_p{}
.btn_course{
    margin: 20px 0 35px;
    padding: 8px 28px;
}
.single_left ul li img,.single_right ul li img{
    width: 18px;
    height: 20px;
    
}
.single_left ul li span,.single_right ul li span{
    font-weight: 500;
}
.single_right{}
/* online courses end here */






































































